<div class="phone"><a href="tel:814-325-9320">Call Now: 814-325-9320</a></div>
{{ page.breadcrumb }}
<nav class="navbar">
  <div id="nav-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <a class="navbar-brand to-top" href="/">
   <img src="/themes/custom/fws/img/seo_state_college_logo.svg" class="logo-light" alt="#">
  </a>

  <div id="navbar">
    {{ page.primary_menu }}
  </div>
</nav>



{{ page.help }}
<a id="main-content"></a>
{{ page.content }}

<footer class="footer">
  {{ page.footer }}
</footer>