{{ page.breadcrumb }}
<nav class="navbar">
  <div id="nav-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <a class="navbar-brand to-top" href="/">
   <img src="/themes/custom/hfs/img/logonew.png" class="logo-light" alt="#">
  </a>

  <div id="navbar">
    {{ page.primary_menu }}
  </div>

</nav>
<div class="menu-fix"></div>

{{ page.help }}
<a id="main-content"></a>
{{ page.content }}

<footer class="footer">
  {{ page.footer }}
</footer>